data:
  replicas: 2
  persistence:
    storageClass: "{{ elasticsearch_storage_class }}"
    size: 8Gi
fullnameOverride: elasticsearch
global:
  kibanaEnabled: true
master:
  replicas: 1
  persistence:
    storageClass: "{{ elasticsearch_storage_class }}"
    size: 2Gi
