data:
  replicaCount: 2
  persistence:
    storageClass: "{{ elasticsearch_storage_class }}"
    size: 8Gi
coordinating:
  replicaCount: 1
ingest:
  replicaCount: 1
fullnameOverride: elasticsearch
global:
  kibanaEnabled: true
master:
  replicaCount: 1
  persistence:
    storageClass: "{{ elasticsearch_storage_class }}"
    size: 2Gi
