#jinja2: lstrip_blocks: "True", trim_blocks: "True"
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: elasticsearch
  annotations:
    kubernetes.io/ingress.class: "{{ ingress_class }}"
    {% if kibana_tls %}
    cert-manager.io/cluster-issuer: "{{ cert_issuer }}"
    {% endif %}
spec:
  rules:
    - host: "kibana.{{ domain }}"
      http:
        paths:
          - backend:
              serviceName: elasticsearch-kibana
              servicePort: 5601
            path: /
  {% if kibana_tls %}
  tls:
    - secretName: "kibana.{{ domain }}"
      hosts:
        - "kibana.{{ domain }}"
  {% endif %}
