role: Agent

customConfig:
  # Sources to add to the generated `vector` config (besides "built-in" kubernetes
  # logs source).
  sources:
    kubernetes_logs:
      type: kubernetes_logs
      auto_partial_merge: true
      extra_label_selector: vector.dev/enable=true

  # Transforms to add to the generated `vector` config.
  transforms:
    json:
      type: remap
      inputs: 
        - kubernetes_logs
      source: |-
        del(.file)
        if (.topic == null) {
          .topic = .kubernetes.pod_labels."vector.dev/topic"
        }
        parsed, err = parse_json(.message)
        if (err == null) {
          . = merge!(., parsed)
          del(.message)
        }
    withTopic:
      type: "filter"
      inputs: 
        - json
      condition: .topic != null

  # Sinks to add to the generated `vector` config.
  sinks:
    kafka:
      type: kafka
      inputs: 
        - withTopic
      bootstrap_servers: "[% kafka_bootstrap_server %]"
      compression: none
      key_field: time
      topic: "{{ topic }}"
      encoding:
        codec: json
    elasticsearch:
      type: elasticsearch
      inputs: 
        - kubernetes_logs
      endpoint: "[% elasticsearch_endpoint %]"
      bulk:
        index: "{{ .kubernetes.pod_namespace }}-{{ .kubernetes.pod_labels.name }}-%F"
      suppress_type_name: true
