role: Agent

customConfig:
  data_dir: /vector-data-dir
  api:
    enabled: true
    address: 127.0.0.1:8686
    playground: false
  sources:
    kubernetes_logs:
      type: kubernetes_logs
      auto_partial_merge: true
      extra_label_selector: vector.dev/enable=true
  transforms:
    json:
      type: remap
      inputs: 
        - kubernetes_logs
      source: |-
        del(.file)
        if (.topic == null) {
          .topic = .kubernetes.pod_labels."vector.dev/topic"
        }
        parsed, err = parse_json(.message)
        if (err == null) {
          . = merge!(., parsed)
          del(.message)
        }
    withTopic:
      type: "filter"
      inputs: 
        - json
      condition: .topic != null
  sinks:
    kafka:
      type: kafka
      inputs: 
        - withTopic
      bootstrap_servers: "[% kafka_bootstrap_server %]"
      compression: none
      key_field: timestamp
      topic: "{{`{{ topic }}`}}"
      encoding:
        codec: json
##    elasticsearch:
##      type: elasticsearch
##      inputs: 
##        - kubernetes_logs
##      endpoint: "[% elasticsearch_endpoint %]"
##      bulk:
##        index: "vector-{{`{{ kubernetes.pod_namespace }}`}}-{{`{{ kubernetes.pod_labels.name }}`}}-%F"
##      suppress_type_name: true

service:
  enabled: true
  ports:
  - name: api
    port: 8686
    protocol: TCP
    targetPort: 8686
